extends base

block title
	title= "文章归档 - " + site.title

block content
	.posts.archive.post.hentry
		h1 文章归档
		p.all_category
			for category in posts.categories
				a.friends(href=category.url)
					img(src=category.cover)
					category.title
		span.postss= '全站共计 %s 篇日志' %(d.get_data(types='post', return_count=true, with_page=false))

		entries = d.get_data(types="post", limit=50, sort="desc").group("-date:year+month")
		
		for year,year_posts in entries
			h2.archive-year= year
			ul.archive-list: for post in year_posts: li.archive-item
				if post.cover
					post_src = post.cover.resize(48, 48, fixed=True)
				else
					post_src = post.category.cover
				img.archive-list-image(src=post_src+'?imageView2/1/w/96/h/96/q/75|imageslim')
				a(href=post.url,title=post.title)= post.title
				span.archive-item-meta= "%s 阅读 / " %(post.visits or 0) + "%s 评论" %(post.comments_count or 0)
	                	
    .posts-nav
    	+h.paginator(style="simple",show_page_of="True", pre_label=' 上一页', next_label='下一页 ')