extends base

block content
    .posts
        for post in posts
            - var formats = post.metadata.format
            if formats == "photo" 
                - var metapath = "/_photos/"+ post.metadata.path
                article.post.hentry
                    header.format-photo: time.date
                        i.fa
                        span= post.date.format('%d %m月，%Y')
                    h1.entry-title: a(href=post.url)= post.title
                    .post-content
                        +h.show('waterfall', path=metapath,width=150,thumbnail_fixed='True',thumbnail_width=150,thumbnail_height=150)
                    footer.post-footer
                        a(href=post.url).more-link
                            span.posts-more-link= '阅读全文 »'
            else if formats == "chat"
                article.post.hentry
                    header.format-chat: time.date
                        i.fa
                        span= post.date.format('%d %m月，%Y')
                    .post-content
                        a(href=post.url): img(src= site.site_avatar).avatar
                        post.content
            else
                - var meta = "format-" + formats
                article.post.hentry
                    header(class=meta): time.date
                        i.fa
                        span= post.date.format('%d %m月，%Y')
                    h1.entry-title: a(href=post.url)= post.title
                    .post-content= post.content
                    footer.post-footer
                        a(href=post.url).more-link
                            span.posts-more-link= '阅读全文 »'

        .posts-nav
            +h.paginator(style="simple",show_page_of="True", pre_label=' 上一页', next_label='下一页 ')