extends base

block title
	title= post.title + " - " + site.title

mixin sub_post_handler(url, original_html,new_line=True)
    if(url == 'https://lin.bitcron.com/bitcron-theme-motify')
		mypost = posts.get_one(path="about.md")
		h2= mypost.title
    else
    	{{original_html}}

block content
	.posts.single
		- var formats = post.metadata.format
		if formats == "photo"
			- var metapath = "/_photos/"+ post.metadata.path
			- var metawidth = post.metadata.width or 180
			article.post.hentry
				header.format-photo
					time.date
						i.fa
						span= post.date.format('%d日 %m月，%Y')
					h1.entry-title= post.title
				.post-content= post.content
					+h.show('waterfall',path=metapath,width=metawidth)
		else if formats == "chat"
			article.post.hentry
				header.format-chat: time.date
					i.fa
					span= post.date.format('%d日 %m月，%Y')
				.post-content
					img(src= site.site_avatar).avatar
                	post.content
		else
			- var meta = "format-" + formats
			article.post.hentry
				header(class=meta)
					time.date
						i.fa
						span= post.date.format('%d日 %m月，%Y')
					h1.entry-title= post.title
				.post-content= post.content

	.pager
				if posts.pre_one
					a.pre(href=posts.previous_one.url)= posts.previous_one.title
				else
					span.pre= '已是最新一篇'
					
				if posts.next_one
					a.next(href=posts.next_one.url)= posts.next_one.title
				else
					span.next= '已是最早一篇'

	section#comments
			+post.comments_as_html()